.header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.nav {
  display: flex;
  gap: 30px;
  padding-left: 30px;
}
.link {
  padding: 20px 0;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.link:hover {
  text-decoration: underline;
}
.active {
  color: red;
}
